/*
	takinfo03 css!
*/
.padding_top_bottom_20_px{
	padding-top:20px;
	padding-bottom:20px;
}
.padding_bottom_20_px{
	padding-bottom:20px;
}
.style1 {
	margin-left: 40px;
}
.style2 {
	margin-left: 40px;
	color: #C0C0C0;
}
.padding_top_bottom_5_px{
	padding-top:5px;
	padding-bottom:5px;
}
